
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo4</title>
</head>

<body>
    <h3>Demo4 View</h3>

    Id 1: @ViewBag.id1
    <br />
    Id 2: @ViewBag.id2

</body>
</html>

