
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <h3>Index View</h3>

    <a asp-controller="demo" asp-action="demo2" asp-route-id="123">Demo 2</a>
    <a asp-controller="demo" asp-action="demo3" asp-route-id1="123" asp-route-id2="p01">Demo 3</a>
    <a asp-controller="demo" asp-action="demo4" asp-route-id1="123" asp-route-id2="p01">Demo 4</a>
</body>
</html>

