a{
    color: $navbar-color;
    text-decoration: none !important;
    &:hover{
        color: $navbar-color;
        cursor: default;
    }

    &:visited{
        color: $navbar-color;
    }

}

@media screen and (max-width: 749px){
    .navbar{
        display: flex;
        position: fixed;
        background-color: $navbar-low-width-background-color;
        color: $navbar-color;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include fluid-type(height, 150px, 749px, $navbar-low-width-height-minimum, $navbar-low-width-height-maximum);
        margin: 0;
        border: 0;
        border-radius: 0%;
        z-index: 1;

        .navbar-low-width-dropdown-button{
            position: relative;
            width: $navbar-low-width-dropdown-button-width;
            background-color: $navbar-low-width-dropdown-button-background-color;
            padding: 0;
            margin: 0;
            height: 100%;
            &:hover{
                background-color: $navbar-low-width-background-dropdown-item-hover-color;
            }

            .arrow-down {
                position: absolute;
                left: 50%;
                @include fluid-type(margin-left, 150px, 749px, -15px, -30px);
                top: 30%;
                width: 0; 
                height: 0; 
                @include fluid-type(border-left-width, 150px, 749px, 15px, 30px);
                border-left-style: solid;
                border-left-color: transparent;
                @include fluid-type(border-right-width, 150px, 749px, 15px, 30px);
                border-right-style: solid;
                border-right-color: transparent;

                @include fluid-type(border-top-width, 150px, 749px, 20px, 40px);
                border-top-style: solid;
                border-top-color: $navbar-low-width-dropdown-button-arrow-color;
            }
        }
    
        .navbar-items-container{
            position:absolute;
            display: none;
            top: 100%;
            width: $navbar-low-width-dropdown-button-width;
            background-color: $navbar-low-width-background-color;
            padding: 0;
            margin: 0;
            height: 100%;
            z-index: 2;
    
            .navbar-item{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: $navbar-low-width-background-color;
                text-align: center;
                font-size: $navbar-low-width-fontsize;

                &:hover{
                    background-color: $navbar-low-width-background-dropdown-item-hover-color;
                }
            }
    
            .navbar-dropdown {
                position:relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: $navbar-low-width-background-color;
                text-align: center;
                font-size: $navbar-low-width-fontsize;

                &:hover{
                    background-color: $navbar-low-width-background-dropdown-item-hover-color;
                    cursor: default;
                }
            
                .navbar-dropdown-items-container{
                    position: absolute;
                    left: 5%;
                    top: 100%;
                    width: 90%;
                    padding-left: 0;
    
                    .navbar-dropdown-item{
                        display:none;

                        &:hover{
                            background-color: $navbar-low-width-background-dropdown-item-hover-color;
                        }
                    }
                }
    
                &:hover{
                    .navbar-dropdown-items-container{
                        .navbar-dropdown-item{
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            @include fluid-type(height, 150px, 749px, $navbar-low-width-height-minimum, $navbar-low-width-height-maximum);
                            background-color: $navbar-low-width-projects-item-background-color;
                            font-size: $navbar-low-width-fontsize;
    
                            &:hover{
                                background-color: $navbar-low-width-background-dropdown-item-hover-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 750px){
    .low-width-item{
        display:none;
    }

    .navbar{
        position: fixed;
        display: flex;
        background-color: $navbar-background-color;
        color: white;
        justify-content: center;
        align-items: center;
        @include fluid-type(height, 750px, 1600px, $navbar-height-minimum, $navbar-height-maximum);
        margin: 0;
        border: 0;
        border-radius: 0%;
        width: 100%;
        z-index: 1;
        .navbar-items-container{
            list-style-type: none;
            list-style-position: inside;
            padding: 0;
            margin: 0;
            height: 100%;
    
            .navbar-item{
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                @include fluid-type(padding-left, 750px, 1600px, $navbar-item-padding-sides-minimum, $navbar-item-padding-sides-maximum);
                @include fluid-type(padding-right, 750px, 1600px, $navbar-item-padding-sides-minimum, $navbar-item-padding-sides-maximum);
                @include fluid-type(font-size, 750px, 1600px, $navbar-fontsize-minimum, $navbar-fontsize-maximum);
    
                &:hover{
                    background-color: $navbar-background-hover-color;
                }
            }
    
            .navbar-dropdown {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                @include fluid-type(padding-left, 750px, 1600px, $navbar-item-padding-sides-minimum, $navbar-item-padding-sides-maximum);
                @include fluid-type(padding-right, 750px, 1600px, $navbar-item-padding-sides-minimum, $navbar-item-padding-sides-maximum);
                @include fluid-type(font-size, 750px, 1600px, $navbar-fontsize-minimum, $navbar-fontsize-maximum);
                &:hover{
                    background-color: $navbar-background-hover-color;
                    cursor: default;
                }
    
                position: relative;
            
                .navbar-dropdown-items-container{
                    list-style-type: none;
                    list-style-position: inside;
                    position: absolute;
                    left: 0;                    
                    top: 100%;
                    width: 100%;
                    background-color: black;
                    padding: 0;

                    .navbar-dropdown-item{
                        display:none;
                    }
                }
    
                &:hover{
                    .navbar-dropdown-items-container{
                        .navbar-dropdown-item{
                            display: inline-flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background-color: $navbar-background-color;
                            width: 100%;
                            @include fluid-type(height, 750px, 1600px, $navbar-height-minimum, $navbar-height-maximum);
                            &:hover{
                                background-color: $navbar-background-dropdown-item-hover-color;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}




