a{
    color: white;
    &:hover{
        color:white;
        text-decoration: none;
        cursor: default;
    }

}

.navbar{
    display: flex;
    background-color: rgb(177, 61, 55);
    color: white;
    justify-content: center;
    align-items: center;
    height: 80px;

    .navbar-items-container{
        list-style-type: none;
        list-style-position: inside;
        padding: 0;
        margin: 0;
        height: 100%;

        .navbar-item{
            display: inline-block;
            padding: 29px;

            &:hover{
                background-color: rgba(119, 22, 22, 0.644);
            }
        }

        .navbar-dropdown {
            display: inline-block;
            padding: 29px;

            &:hover{
                background-color: rgba(119, 22, 22, 0.644);
                cursor: default;
            }

            position: relative;
        
            .navbar-dropdown-items-container{
                list-style-type: none;
                list-style-position: inside;
                position: absolute;
                left: -40px;
                top: 79px;

                .navbar-dropdown-item{
                    display:none;
                }
            }

            &:hover{
                .navbar-dropdown-items-container{
                    .navbar-dropdown-item{
                        display: block;
                        background-color: rgb(177, 61, 55);
                        padding: 30px 23px;

                        &:hover{
                            background-color: rgb(119, 22, 22);
                        }
                        
                    }
                }
            }
        }
    }
}



