.projects-main-div{
    background-color: rgb(6, 73, 62);

    .projects-header{
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        text-align: center;
        margin-bottom: 10%;
        margin-top: 10%;
        @include fluid-type(font-size, 150px, 1800px, 25px, 200px);
    }

    .projects-choosing{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: white;
        @include fluid-type(font-size, 150px, 1800px, 8px, 100px);
        background-color: black;

        .projects-choosing-webdevelopment{
            position: relative;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;

            @include fluid-type(width, 150px, 1800px, 75px, 900px);
            @include fluid-type(height, 150px, 1800px, 50px, 500px);

            &:hover{
                background-color: rgb(2, 19, 15);
            }

            .projects-choosing-webdevelopment-image{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                img{
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .projects-choosing-gamedevelopment{
            position: relative;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;

            @include fluid-type(width, 150px, 1800px, 75px, 900px);
            @include fluid-type(height, 150px, 1800px, 50px, 500px);

            &:hover{
                background-color: rgb(5, 41, 32);
            }

            .projects-choosing-gamedevelopment-image{
                position: absolute;;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                img{
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    @media screen and (min-width: 900px){
        .projects-container{
            display:grid;
            grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
            grid-auto-rows: auto;
            @include fluid-type(column-gap, 700px, 899px, 20px, 60px);
            @include fluid-type(row-gap, 700px, 899px, 10px, 20px);            
            max-width: 900px;
            margin: 0 auto;
            align-items: center;
        
            .project{
                img{
                    width: 100%;
        
                    &:hover{
                        transform: scale(1.25,1.25);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 899px){
        .projects-container{
            display:grid;
            grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 0.5fr;
            grid-auto-rows: auto;
            @include fluid-type(column-gap, 700px, 899px, 20px, 60px);
            @include fluid-type(row-gap, 700px, 899px, 10px, 20px);

            max-width: 600px;
            margin: 0 auto;
            align-items: center;
        
            .project{
        
                img{
                    width: 100%;
        
                    &:hover{
                        transform: scale(1.25,1.25);
                    }
        
                }
            }
        }
    }

    @media screen and (max-width: 699px){
        .projects-container{
            display:grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-gap: 10px;
            max-width: 300px;
            margin: 0 auto;
            align-items: center;
        
            .project{
                img{
                    width: 100%;
                    &:hover{
                        transform: scale(1.25,1.25);
                    }
                }
            }
        }
    }

    .new-project-div{
        display: block;
        margin-top: 5%;
        width: 100%;

        .new-project-button{
            position: relative;
            width: 100px;
            left: 50%;
            margin-left: -50px;
            margin-bottom: 10px;
        }

        .new-project{
            position:absolute;
            width: 308px;
            left: 50%;
            margin-left: -154px;
            background-color: grey;
            align-items: center;
            justify-items: center;
            z-index: 1;
        }
    }
}

.project-popup{
    position: fixed;
    left: 50%;
    margin-left: -355px;
    top: 20%;
    display: grid;
    gap: 15px;
    grid-template-columns: 5px 400px 300px 5px;
    grid-template-rows: 5px 300px 5px;
    background-color: rgb(74, 94, 63);
    z-index: 2;

    .edit-button{
        position: absolute;
        left: 695px;
        top: 0px;
        width: 60px;
    }

    .project-popup-images{
        position: relative;
        grid-column: 2/3;
        grid-row: 2/3;
        img{
            width: 100%;
            height: 100%;
        }

        .edit-add-image{
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: green;
        }

        .edit-add-image-input{
            position: absolute;
            left: 50px;
        }

        .edit-add-image-submit{
            position:absolute;
            left: 50px;
            top: 21px;
        }
        
        .edit-delete-image{
            position: absolute;
            left: 350px;
            width: 50px;
            height: 50px;
            background-color: red;
            z-index: 4;
        }
    }

    .project-popup-text{
        grid-column: 3/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 50px 5px 250px;

        .project-popup-title{
            grid-row: 1/2;
            background-color: red;
        }

        .edit-submit-title{
            position: absolute;
            left: 660px;
            top: 30px;
        }
    
        .project-popup-description{
            grid-row: 3/4;
            background-color: yellow;
        }

        .edit-submit-description{
            position: absolute;
            left: 660px;
            top: 250px;
        }

        .project-popup-projecttype{
            position: absolute;
            top: 300px;
            left: 440px;
        }

        .edit-submit-projecttype{
            position: absolute;
            top: 297px;
            left: 600px;
        }
    }
}






