@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work 1</title>
</head>

<body>
    <h3>Work1 View</h3>

    <a asp-controller="demo" asp-action="index">Index Page</a>

</body>
</html>

