
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" name="viewport"/>
    <title>Index</title>
</head>

<body>
    <h3>Index View</h3>
    <a asp-controller="demo">Index</a>
    <br/>
    <a asp-controller="demo" asp-action="Index">Index</a>
    <br/>
    <a asp-controller="demo" asp-action="demo2" asp-route-message="test">Demo2</a>
</body>
</html>

