<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <table border="1" cellpadding="2" cellspacing="2" width="500">
        <tr>
            <td colspan="2">
                <a asp-controller="home" asp-action="index">Home</a> |
                <a asp-controller="aboutus" asp-action="index">About Us</a> |
                <a asp-controller="news" asp-action="index">News</a>
            </td>
        </tr>

        <tr>
            <td valign="top">
                @await  Component.InvokeAsync("Category")
            </td>
            <td valign="top">
                @RenderBody()
            </td>
        </tr>

        <tr>
            <td colspan="2">Copyright xred</td>
        </tr>
    </table>

</body>
</html>
