// -------------- Navbar --------------
$navbar-color: white;
$navbar-item-padding-sides: 39px;

$navbar-background-color: rgb(177, 61, 55);
$navbar-low-width-background-color: rgb(177, 61, 55);

$navbar-background-hover-color: rgba(119, 22, 22, 0.644);
$navbar-low-width-background-hover-color: rgba(119, 22, 22, 0.644);

$navbar-background-dropdown-item-hover-color: rgb(119, 22, 22);
$navbar-low-width-background-dropdown-item-hover-color: rgb(119, 22, 22);

$navbar-height: 100px;
$navbar-low-width-height: 100px;

$navbar-fontsize: 20px;
$navbar-low-width-fontsize: 20px;

$navbar-low-width-dropdown-button-background-color: rgb(138, 43, 38);
$navbar-low-width-dropdown-button-arrow-color: rgb(185, 37, 37);
$navbar-low-width-projects-item-background-color: rgb(131, 45, 40);
$navbar-low-width-dropdown-button-width: 75%;
// -------------- Projects --------------

// project container
$projects-container-display: flex;
$projects-container-justify-content: center;

// project
$project-margin: 15px;