// -------------- Navbar --------------


// -------------- Projects --------------

// project container
$projects-container-display: flex;
$projects-container-justify-content: center;

// project
$project-margin: 15px;