// -------------- NavMenu --------------
$nav-display: flex;


$nav-height: 100px;
$nav-background-color: rgb(245, 69, 0);

$nav-padding: 0px;
$nav-margin: 0px;
$nav-border: 0px;


// buttons
$nav-button-width: 100px;
$nav-button-border: 0px;
$nav-button-padding: 0px;
$nav-button-margin: 0px;

$nav-button-background-color: rgb(94, 91, 250);
$nav-button-color: black;

$nav-button-hover-color: red;
$nav-button-hover-background-color: rgb(255, 255, 255);