<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-controller="home" asp-action="index">Home</a>
    <a asp-controller="aboutus" asp-action="index">About Us</a>
    <a asp-controller="news" asp-action="index">News</a>

    @RenderBody()

    Copyright xred
</body>
</html>
